* {
  margin: 0;
  padding: 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align-last: left;
}
/* 10 */
.table tr {
  height: 50px;
  border-bottom: 1px solid #dee2e6;
}
.table td,
th {
  padding-left: 15px;
}
/* 11 */
.table thead tr {
  border-bottom: 2px solid #dee2e6;
}
/* 12 */
.table tbody tr:last-child {
  border: none;
}
/* 22 */
table.table-bordered {
  border: 1px solid #dee2e6;
}
/* 11 */
.table-bordered colgroup col {
  border: 1px solid #dee2e6;
}
/* 12 */
table.table-borderless.table col {
  border: 0;
}
/* 22 */
table.table-borderless thead tr {
  border: 0;
}
/* 13 */
table.table-borderless tbody tr {
  border: 0;
}
/* 13 */
table.table.table-borderless {
  border: 0;
}
/* 21 */
table.table.table-hover tbody tr:hover {
  background-color: #ececec;
}
.table-striped tbody tr {
  background-color: #f2f2f2;
}
.table-striped tbody tr:nth-child(2) {
  background-color: #fff;
}
/* .table-striped thead tr {
  background-color: #f2f2f2;
} */
table.table-sm tr {
  height: 33px;
}
table.table-dark.table {
  color: #fff;
}
table.table-dark.table tr {
  background-color: #212529;
  border-bottom-color: #32383e;
}
/* 22 */
table.table.table-dark.table-striped tbody tr:nth-child(n) {
  background-color: #2c3034;
}
/* 42 */
table.table.table-dark.table-striped tbody tr:nth-child(2) {
  background-color: #212529;
}
table.table.table-hover.table-dark tbody tr:hover {
  background-color: #323539;
}
table.table.table-dark.table-bordered colgroup col {
  border-color: #32383e;
}
